<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navbar.ejs') %>
  <div class="container">
    <div class="card" id="espaco-topo-margin">
      <div class="card-header">
        <h3>Realizar pergunta</h3>
      </div>
      <div class="card-body">
        <form method="POST" action="/salvarPergunta">
          <label>Titulo</label>
          <input type="text" name="titulo" placeholder="Titulo" class="form-control">
          <br />
          <label>Descrição</label>
          <textarea name="descricao" placeholder="Escreva sua pergunta aqui" class="form-control"></textarea>
          <br/>
          <button class="btn btn-success">Perguntar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include ('partials/footer.ejs') %>